<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Atul/IdeaProjects/Api_automationATB6X_Framework">
    <classes>
        <class name="com.atul.testcases.Crud.TestcreateBookingpost">

        </class>
    </classes>
</test>
</suite>